
<header class="blue lighten-1">
  <div class="title white-text">
    <h1>Факультет экономики и менеджмента</h1>
    <p>Факультет здійснює підготовку за рівнями освіти: бакалавр, магістр, доктор філософії. Для рівня освіти "бакалавр" термін підготовки за денною формою - 4 роки; за заочною - 5 років. </p>
    <button mz-button class="orange small"><i class="material-icons left">file_download</i>  Расписание</button>
    <button mz-button flat="true white-text" class="small"><i class="material-icons left">search</i>  Найти</button>

  </div>
</header>
<section class="main container">
  <div class="row">
    <div class="col m4">
        <img src="./../../../assets/rocket-vector.png" alt="">
    </div>
    <div class="col m8">
        <h5>СУЧАСНА ЕКОНОМІЧНА ОСВІТА</h5>
        <p>Студенти одержують теоретичні та практичні знання з економіки, управління, менеджменту, обліку, аудиту, фінансів, банкіської справи тощо, які відповідають сучаним умовам розвитку економіки</p>
    </div>
  </div>
  <div class="row">
      <div class="col m8">
          <h5>ПОЄДНАННЯ ОСВІТИ ТА НАУКИ</h5>
          <p>Студенти мають можливість опублікувати власні наукові дослідження у двої фахових збірниках наукових праць - економічному та гуманітарному вісниках Запорізької державної інженерної академії</p>
      </div>
      <div class="col m4">
          <img src="./../../../assets/book-vector.png" alt="">
      </div>
  </div>
  <div class="row">
      <div class="col m4">
          <img src="./../../../assets/chart-vector.png" alt="">
      </div>
      <div class="col m8">
          <h5>ЕКОЛОГО-ЕКОНОМІЧНА ОСВІТА</h5>
          <p>Інноваційний освітній проект відродження екологічної культури в Запоріжжі на базі факультету економіки та менеджменту ЗДІА дає змогу підготовки фахівців нового інноваційного рівня, які мають конкурентні переваги</p>
      </div>
  </div>
  <div class="row">
      <div class="col m8">
          <h5>ПРОГРАМИ ПОДВІЙНИХ ДИПЛОМІВ</h5>
          <p>Студенти факультету матють змогу, не перериваючи навчання, паралельно отримати дипломи європейського та українського ВНЗ за програмами міжнародного освітнього співробітництва ERASMUS+</p>
      </div>
      <div class="col m4">
          <img src="./../../../assets/layer-vector.png" alt="">
      </div>
  </div>
</section>


<footer class="page-footer blue darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>
      