section.file-manager{
  .title{
    font-size: 16px;
    font-weight: bold;
  }
  .folder-list{
    h4{
      margin-bottom: 20px;
    }
    padding: 20px 20px;
    background-color: #fff;
    .folder{
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
  .files-list{
    padding: 0px !important;

    .table-responsive{
      padding: 20px;
    }
    table {
      tr{
        cursor: pointer;
        
      }
      &.inside-mode {
        td {
          padding: 5px !important;
        }
      }
    }
    mz-navbar {
      i{
        padding: 0px 15px;
      }
    }
  }
}

  .checkbox-field{
    padding: 0 !important;
    margin: 0 !important;
  }

