<mz-navbar navbarClass="blue lighten-1 z-depth-2">

  <mz-navbar-item-container [align]="'left'">
    <mz-navbar-item> <a href="#" class="brand-logo">Logo</a></mz-navbar-item>
    <mz-navbar-item><a href="#" class="white-text" mz-button flat="true">Кафедры</a></mz-navbar-item>
    <mz-navbar-item><a href="#" class="white-text" mz-button flat="true">Студентам</a></mz-navbar-item>
    <mz-navbar-item><a href="#" class="white-text" mz-button flat="true">Абитуриентам</a></mz-navbar-item>
    <mz-navbar-item><a href="#" class="white-text" mz-button flat="true">Расписание</a></mz-navbar-item>
  </mz-navbar-item-container>
  <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item>
        <a href="#" class="white-text" mz-button flat="true">
            <mz-badge
            [value]="1"
            [caption]="''"
            [badgeClass]="'orange'"
            [new]="true">
          </mz-badge>
          События</a>
      </mz-navbar-item>
      <mz-navbar-item><a href="#" class="white-text" mz-button flat="true">v 1.0.0</a></mz-navbar-item>
    </mz-navbar-item-container>
</mz-navbar>