<mz-navbar navbarClass="blue lighten-1 z-depth-2">

  <mz-navbar-item-container [align]="'left'" *ngIf="Menu">
    <mz-navbar-item><a routerLink="/" class="brand-logo">Logo</a></mz-navbar-item>
    <mz-navbar-item *ngFor="let item of Menu">
      <a
        routerLink="/search"
        routerLinkActive="orange"
        [queryParams]="{search: item.name}"
        class="white-text btn-flat" >{{item.name}}</a>
    </mz-navbar-item>
    <!--<mz-navbar-item><a routerLink="/search" routerLinkActive="active" [queryParams]="{search: 'Студентам'}" class="white-text btn-flat">Студентам</a></mz-navbar-item>-->
    <!--<mz-navbar-item><a routerLink="/search" routerLinkActive="active" [queryParams]="{search: 'Абитуриентам'}" class="white-text btn-flat">Абитуриентам</a></mz-navbar-item>-->
    <!--<mz-navbar-item><a routerLink="/search" routerLinkActive="active" [queryParams]="{search: 'Расписание'}" class="white-text btn-flat">Расписание</a></mz-navbar-item>-->
  </mz-navbar-item-container>
  <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item>
        <a href="#" class="white-text" mz-button flat="true">
            <mz-badge
            [value]="1"
            [caption]="''"
            [badgeClass]="'orange'"
            [new]="true">
          </mz-badge>
          События</a>
      </mz-navbar-item>
      <mz-navbar-item><a href="#" class="white-text" mz-button flat="true">v 1.0.0</a></mz-navbar-item>
    </mz-navbar-item-container>
</mz-navbar>
