mz-navbar{
  z-index: 1;
  position: relative;
    a.brand-logo{
        padding-left:80px !important;
        position: relative;
        font-size: 20px;
        font-weight: 600;
    }
    a{
        margin-right: 10px;
        margin-left: 10px;
        font-weight: 500;
        padding: 0 10px !important;
        text-transform: capitalize;
    }
    mz-navbar-item-container{
        padding: 0px 80px;
    }
}
