<section class="dashboard">
  <h4>Dashboard</h4>
  <div class="row">
    <div class="col m4">
      <div class="card">
        <div class="card-content">
          <div class="card-title">Меню</div>
          <h6>Текущее меню</h6>
          <ul class="collection"
              dragula="Menu"
              [(dragulaModel)]="Menu"
              *ngIf="Menu && Menu.length > 0; else nothing"
              (dragulaModelChange)="updateMenuPosition($event)"
          >
              <li class="collection-item" *ngFor="let item of Menu">
                {{item.name}}
                <i class="material-icons right" (click)="removeFromMenu(item.id)">close</i>
              </li>
          </ul>
          <mz-select-container >
            <select mz-select
                    [label]="'Добавить в меню'"
                    #select
                    *ngIf="Tags"
                    (change)="addToMenu(select.value)"
            >
              <option value="-1">None</option>
              <option *ngFor="let tag of Tags" [value]="tag.id" [selected]="tag.in_menu === true">{{tag.name}}</option>
            </select>
          </mz-select-container>
          <app-create-tags (save)="createNewTag($event)"></app-create-tags>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #nothing>
  <p class="nothing grey-text" style="display: flex;"><i class="material-icons">not_interested</i><span>У вас ещё нет меню</span></p>
</ng-template>
