body{
    font-family: 'Roboto', sans-serif;
}
button{
    &.btn.small, &.btn-flat.small{
        padding: 0px 10px !important;
        font-size: 13px;
    }
    
}
span.badge{
    min-width: 20px !important;
    font-weight: bold !important;
}