<section>
  <form #createForm="ngForm">
    <div class="row">
      <div class="col m8">
        <div class="new row">
            <div class="col m4 img">
                <img src="https://cdn.shopify.com/s/files/1/1775/8583/t/1/assets/geometric-aquamarine.jpg?630222957639193643"
                alt=""
                class="responsive-img z-depth-2">
            </div>
            <div class="new-container">
              <div class="card z-depth-4">
                <div class="card-header row">
                  <div class="col m4"></div>
                  <div class="col m7">
                    <label for="title">Title</label>
                    <div class="title"></div>
                  </div>
                </div>

                <div class="card-content">
                  <label for="content">Content</label>
                  <div class="new-content">

                  </div>
                </div>
                <div class="attachements-capture" *ngIf="ParentNew && ParentNew.attachements">
                  <div class="attachement hoverable" *ngFor="let file of ParentNew.attachements">
                    <i class="material-icons">{{ file.type.indexOf('image') !== -1 ? 'image' : 'file' }}</i>
                    <span class="name">{{file.name}}</span>
                    <i class="close right material-icons" (click)="deleteFile(file.id)">close</i>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <mz-tab *ngIf="Attachements">
                  <mz-tab-item [label]="'Upload files'">
                    <div class="file-field input-field">
                        <div class="btn">
                          <span>File</span>
                          <input type="file" multiple #files (change)="fileUpload(files)">
                        </div>
                        <div class="file-path-wrapper">
                          <input class="file-path validate" type="text" placeholder="Upload one or more files">
                        </div>
                    </div>
                  </mz-tab-item>
                  <mz-tab-item [label]="'Choose file'">
                    <div class="image-caption hoverable"
                    [ngStyle]="{'background-image': 'url(http://localhost:3000/' + file.path + ')'}"
                    [ngClass]="file.selected === 1 ? 'selected' : ''"
                    *ngFor="let file of Attachements"
                    (click)="addFile(file)"
                    ></div>
                    <div class="clearfix"></div>
                  </mz-tab-item>
                </mz-tab>

              </div>
              <button class="btn orange white-text" [disabled]="!createForm.valid || createForm.untouched" (click)="save()">save</button>
            </div>
        </div>
      </div>
      <div class="col m4">
        <div class="card tags">
          <div class="card-content">
            <div class="input-field">
              <mz-select-container
              >
                <select
                  name="tags"
                  [(ngModel)]="New.tags"
                  id=""
                  [label]="'Tags'"
                  multiple
                  mz-select
                  #tags
                >
                  <optgroup label="Tags">
                      <option disabled>Choose your tag</option>
                      <option *ngFor="let tag of Tags"  [value]="tag.id" >{{tag.name}}</option>
                  </optgroup>
                </select>
              </mz-select-container>
              <div class="tags" *ngIf="ParentNew && ParentNew.tags">
                <div class="chip" *ngFor="let tag of ParentNew.tags">
                  {{tag.name}}
                  <i class="close material-icons" (click)="deleteTag(tag.id)">close</i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <editor
    [init]="EditorConfig"
    name="content"
    id="content"
    [(ngModel)]="New.content"
    aria-placeholder="Default Content"
    required
    apiKey="dc8l1mhcepaismnop9h1rg7arqnzqbh7kc30qulvjus8ra18"
  ></editor>
  <editor
    [init]="HeaderConfig"
    name="title"
    id="title"
    required
    placeholder="Default Title"
    [(ngModel)]="New.title"
    apiKey="dc8l1mhcepaismnop9h1rg7arqnzqbh7kc30qulvjus8ra18"
  ></editor>
</form>
</section>
