<mz-modal #files [fullscreen]="true" [bottomSheet]="false" [options]="modalOptions">
    <mz-modal-header>
    </mz-modal-header>
    <mz-modal-content>
      <app-file-manager
      [insideMode]="true"
      [single]="SingleMode"
      [(selectedItems)]="New.attachements"
      (selected)="selectedFiles($event); noChanges = false;"
      (main)="mainImg($event); files.closeModal()">
    </app-file-manager>
    </mz-modal-content>
  </mz-modal>
<section>
  <form #createForm="ngForm">
    <div class="row">
      <div class="col m8">
        <div class="new row">
            <div class="col m4 img">
                <img
                [src]="ParentNew.mainImg.path"
                alt="New image"
                class="responsive-img z-depth-2"
                (click)="SingleMode = true; files.openModal();">
            </div>
            <div class="new-container">
              <div class="card z-depth-4">
                <div class="card-header row">
                  <div class="col m4"></div>
                  <div class="col m7">
                    <label for="title">Title</label>
                    <input type="text" name="title" [(ngModel)]="New.title">
                  </div>
                </div>

                <div class="card-content">
                  <label for="content">Content</label>
                  <div class="new-content">

                  </div>
                </div>
                <div class="attachements-capture" *ngIf="ParentNew && ParentNew.attachements">
                  <div class="attachement hoverable" *ngFor="let file of ParentNew.attachements">
                    <i class="material-icons">{{ file.type.indexOf('image') !== -1 ? 'image' : 'file' }}</i>
                    <span class="name">{{file.name}}</span>
                    <i class="close right material-icons" (click)="deleteFile(file.id)">close</i>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <button type="button" mz-button [flat]="true" class='blue' (click)="SingleMode = false;files.openModal()">File manager</button>
              </div>
              <div class="save" style="display: flex;">
                <mz-spinner [color]="'blue'" [size]="'small'" style="margin-right: 20px;" *ngIf="showLoader"></mz-spinner>
                <button class="btn orange white-text" [disabled]="noChanges === true && createForm.untouched" (click)="showLoader = true;save()">save</button>
              </div>
            </div>
        </div>
      </div>
      <div class="col m4">
        <div class="card tags">
          <div class="card-content">
            <div class="input-field">
              <mz-select-container
              >
                <select
                  name="tags"
                  [(ngModel)]="New.tags"
                  id=""
                  [label]="'Tags'"
                  multiple
                  mz-select
                  #tags
                >
                  <optgroup label="Tags">
                      <option disabled>Choose your tag</option>
                      <option *ngFor="let tag of Tags"  [value]="tag.id" >{{tag.name}}</option>
                  </optgroup>
                </select>
              </mz-select-container>
              <div class="tags" *ngIf="ParentNew && ParentNew.tags">
                <div class="chip" *ngFor="let tag of ParentNew.tags">
                  {{tag.name}}
                  <i class="close material-icons" (click)="deleteTag(tag.id)">close</i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card create-tag">
          <div class="card-content">
            <div class="card-title">Create tag</div>
            <app-create-tags (save)="createTag($event)"></app-create-tags>
          </div>
        </div>
      </div>
    </div>

  <editor
    [init]="EditorConfig"
    name="content"
    id="content"
    [(ngModel)]="New.content"
    aria-placeholder="Default Content"
    required
    apiKey="dc8l1mhcepaismnop9h1rg7arqnzqbh7kc30qulvjus8ra18"
  ></editor>
  <editor
    [init]="HeaderConfig"
    name="title"
    id="title"
    required
    placeholder="Default Title"
    [(ngModel)]="New.title"
    apiKey="dc8l1mhcepaismnop9h1rg7arqnzqbh7kc30qulvjus8ra18"
  ></editor>
</form>
</section>
