.editor{
    input {
        border: 1px solid #eee !important;
        background-color: transparent;
        border: none;
        border-bottom: none !important;
        border-radius: 0;
        outline: none;
        height: auto !important;
        width: 100%;
        font-size: 14px !important;
        margin: 0px !important;
        padding: 0;
        box-shadow: none;
        box-sizing: border-box !important;
        transition: all 0.3s;
    }
}
.new {
    position: relative;
    & > .img img{
        position: relative;
        z-index: 2;
    }
    .new-container {
        position: absolute;
        width: 100%;
        left: 0;
        top: 50%;
        .card{
            padding: 20px;
            .card-content {
                margin-top: 80px;
            }
        }
    }
}

.card.tags{
    margin-top: 100px;
}

.image-caption{
    width: 20%;
    height:100px;
    background-size: cover;
    background-position: center;
    float: left;
    &.selected{
        border: 3px solid #4eb575;
    }
}
.title{
  border-bottom: 2px solid #eee;
}
.new-content{
  border-bottom: 2px solid #eee;
}

.attachements-capture{
  padding: 10px 20px;
  .attachement {
    padding:7px 10px;
    border-radius: 3px;
    border: 1px solid #eee;
    i:not(.close){
      float: left;
      width: 50px;
    }
    i.close{
      font-size: 16px;
      line-height: 25px;
      color: #8b8b8b;
      cursor: pointer;
    }
  }
}
