<mz-navbar navbarClass="purple lighten-1 z-depth-2">

    <mz-navbar-item-container [align]="'left'">
      <mz-navbar-item>
        <a routerLink="/" class="white-text" mz-button flat="true">Dashboard</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a class="white-text" mz-button flat="true" routerLink="/admin/file-manager">Файл менеджер</a>
      </mz-navbar-item>
      <mz-navbar-item>
        <a class="white-text" mz-button flat="true" routerLink="/admin/news">Новости</a>
      </mz-navbar-item>
      <mz-navbar-item>
          <a class="white-text" mz-button flat="true">События</a>
      </mz-navbar-item>
    </mz-navbar-item-container>
    <mz-navbar-item-container [align]="'right'">
        <mz-navbar-item><a href="#" class="white-text" mz-button flat="true">v 1.0.0</a></mz-navbar-item>
      </mz-navbar-item-container>
  </mz-navbar>
